<nav [ngClass]="{'open': isMenuOpened}">
    <div class="toggle">
        <span class="menu-icon" (click)="openMenu()">
            <img src="../../../assets/images/menu.png" width="25" alt="">
        </span>
        <span class="cancel-icon" (click)="closeMenu()">
            <img src="../../../assets/images/cancel.png" width="25" alt="">
        </span>
    </div>
    <ul class="menu">
        <li *ngFor="let catgory of menuCategories" routerLinkActive="active">
            <a [routerLink]="'/' + catgory.name" (click)="closeMenu()">{{ catgory.label }}</a>
        </li>
    </ul>
</nav>