.loading {
    height: 0;
    width: 0;
    padding: 25px;
    border: 6px solid rgba(141,198,63, 0.4);
    border-right-color: #8DC63F;
    border-radius: 50px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }