.empty-results {
    border: 1px solid #373737;
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin: 25vh auto;
    font-size: 20px;
}